<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asanz.prueba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CoursesActivity" />
        <activity android:name=".MessagesActivity" />
        <activity android:name=".GradesActivity" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".CreateEventActivity" />
        <activity android:name=".CreateMessageActivity" />
        <activity android:name=".ResourceActivity" />
        <activity android:name=".ResourceVideoActivity" />
        <activity android:name=".ResourceScormActivity" />
        <activity android:name=".ResourceTextoActivity" />
        <activity android:name=".ResourceEjercicioActivity" />
        <activity android:name=".ResourceEbookActivity" />
        <activity android:name=".SubjectActivity" />
        <activity android:name=".BandejaActivity" />
        <activity android:name=".DetailEventActivity" />
        <activity android:name=".BuildingActivity" />

    </application>

</manifest>