<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asanz.prueba">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".CoursesActivity"></activity>
        <activity android:name=".MessagesActivity"></activity>
        <activity android:name=".GradesActivity"></activity>
        <activity android:name=".CalendarActivity"></activity>
        <activity android:name=".CreateEventActivity"></activity>
        <activity android:name=".CreateMessageActivity"></activity>
        <activity android:name=".CourseActivity"></activity>
        <activity android:name=".ResourceActivity"></activity>
        <activity android:name=".ResourceVideoActivity"></activity>
        <activity android:name=".ResourceScormActivity"></activity>
        <activity android:name=".ResourceTextoActivity"></activity>
        <activity android:name=".ResourceEjercicioActivity"></activity>
        <activity android:name=".ResourceEbookActivity"></activity>
        <activity android:name=".SubjectActivity"></activity>
        <activity android:name=".BandejaActivity"></activity>
        <activity android:name=".DetailEventActivity"></activity>

    </application>

</manifest>